.fb-button {
    display: inline-block;
    margin: 0;
    padding: .563rem .844rem;
    border: 0 none;
    background: #16a085;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;
    border-radius: .125rem;
    border: thin solid #19b394;
    border-bottom: 2px solid #16a085
}

.fb-button[disabled] {
    background: #ddd !important;
    border: thin solid #ccc;
    color: #777 !important;
    text-shadow: none !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    opacity: .65;
    cursor: default
}

.fb-clear {
    clear: both
}

.fb-main {
    max-width: 1000px;
    margin: 0;
    padding: 0 20px 0 0;
    position: relative;
    font-family: 'Source Sans Pro', 'Open Sans', Tahoma;
}

.fb-save-wrapper {
    position: absolute;
    right: 20px;
    top: 10px
}

.fb-left {
    float: left;
    width: 300px;
}

.fb-right {
    padding-top: 0;
    margin-left: 320px;
    padding-left: 20px;
    overflow: hidden;
}

.fb-no-response-fields {
    color: #999
}

.fb-tabs {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #ccc
}

.fb-tabs li {
    display: inline-block
}

.fb-tabs li a {
    display: block;
    padding: 12px 10px;
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #333;
}

.fb-tabs li a:hover {
    text-decoration: none;
    color: #159d82
}

.fb-tabs li.active a {
    border: 1px solid #ccc;
    margin-bottom: -1px;
    border-bottom-color: #fff;
    border-top-color: #1abc9c;
    color: #1abc9c;
    border-top-width: 2px;
}

.fb-tab-content .fb-tab-pane {
    padding: 0 0px;
    display: none;
}

.fb-tab-content .fb-tab-pane.active {
    display: block
}

.fb-add-field-types .section {
    padding-bottom: 5px;
    margin-bottom: 20px
}

.fb-add-field-types {
    font-size: 0
}

.fb-add-field-types a:hover {
    text-decoration: none;
    color: #FFF;
    background: #159d82
}

.fb-add-field-types a {
    font-size: 14px;
    display: inline-block;
    width: 48.5%;
    background-color: #1abc9c;
    margin-bottom: 9px;
    box-sizing: border-box;
    color: #FFF;
}

.fb-add-field-types a:nth-child(odd) {
    margin-right: 3%;
}

.fb-add-field-types a .symbol {
    opacity: .6;
    margin: 0 .25em 0 -1em
}

.fb-response-fields {
    padding-bottom: 150px
}

.fb-response-fields a.sortable-placeholder {
    display: block;
    border: 1px dashed #ddd;
    min-height: 80px;
    height: 80px;
    width: 100%
}

.fb-field-wrapper {
    cursor: pointer;
    position: relative;
    margin-bottom: 20px
}

.fb-field-wrapper input {
    border-radius: 3px;
    border: thin solid #ddd
}

.fb-field-wrapper:hover .actions-wrapper, .fb-field-wrapper.editing .actions-wrapper {
    display: block
}

.fb-field-wrapper:hover .subtemplate-wrapper {
    border-color: #ddd;
    border-radius: 3px
}

.fb-field-wrapper.editing {
    background-color: #ecf0f1;
    border-radius: 3px
}

.fb-field-wrapper.editing .subtemplate-wrapper {
    border-color: #d9e1e3;
    border-style: solid;
    margin: 0;
    border-radius: 3px;
    float: left;
    width: 100%;
}

.fb-field-wrapper .actions-wrapper {
    display: none;
    position: absolute;
    bottom: -7px;
    right: 5px;
    z-index: 3
}

.fb-field-wrapper .actions-wrapper a {
    display: inline-block;
    background-color: #ccc;
    padding: 2px 8px;
    color: #FFF;
}

.edit-response-field input:focus,
.edit-response-field textarea:focus,
.edit-response-field select:focus {
    border: thin solid #159d82 !important;
    display: inline-block;
    outline: 0;
}

.fb-edit-field-wrapper textarea:focus {
    outline: none;
    border: thin solid #1abc9c !important
}

.fb-edit-section-header input:focus {
    border-color: #159d82
}

.edit-response-field select {
    font-size: 14px;
    border-radius: 2px;
}

.fb-field-wrapper .actions-wrapper a.js-duplicate, .fb-edit-field-wrapper .js-add-option {
    background-color: #1abc9c;
    border: none;
    color: #FFF;
}

.fb-edit-field-wrapper .js-add-option:hover {
    background-color: #159d82;
}

.fb-field-wrapper .actions-wrapper a.js-duplicate:hover {
    background-color: #159d82;
    color: #FFF;
}

.fb-field-wrapper .actions-wrapper a.js-clear, .fb-edit-field-wrapper .js-remove-option {
    background-color: #e74c3c;
    border: none
}

.fb-edit-field-wrapper .js-remove-option:hover {
    background-color: #e64533
}

.fb-field-wrapper .subtemplate-wrapper {
    /* border: 1px dashed transparent; */
    /* margin-bottom: 10px; */
    /* padding: 10px; */
    /* position: relative; */
    /* float: left; */
    /* width: 100%; */
    display: block;
    padding: 10px;
}

.fb-field-wrapper .subtemplate-wrapper .cover {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.fb-field-wrapper .subtemplate-wrapper > label {
    display: block;
    border-bottom: thin solid #eee;
    padding-bottom: 3px;
    margin-bottom: 7px
}

.fb-field-wrapper .subtemplate-wrapper abbr {
    color: #f00;
    border-bottom: 0
}

.fb-field-wrapper .input-line {
    clear: both;
    margin-bottom: 10px
}

.fb-field-wrapper .input-line .above-line {
    margin-top: 7px
}

.fb-field-wrapper .input-line > span {
    display: inline-block;
    vertical-align: top
}

.fb-field-wrapper .input-line > span input {
    width: 100%
}

.fb-field-wrapper .input-line > span > label {
    display: block;
    font-size: 13px;
    margin-left: 3px
}

.fb-field-wrapper .help-block {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
    float: left;
}

.fb-edit-field-wrapper {
    font-size: 13px;
}

.fb-edit-field-wrapper .fb-field-label {
    font-weight: normal;
    background: #159d82;
    padding: .75em;
    font-size: 1.4em;
    color: #FFF;
}

.fb-edit-field-wrapper .fb-field-label .field-type {
    margin-top: .5em;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em
}

.fb-edit-field-wrapper .fb-field-label .field-type:before {
    content: 'Type: ';
    color: #FFF;
}

.fb-edit-field-wrapper .fb-field-label .fa.fa-arrow-right {
    display: none
}

.fb-edit-field-wrapper .fb-edit-section-header {
    border-bottom: 1px solid #ddd;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    clear: both;
    font-weight: 600;
    font-size: 16px;
}

.fb-edit-field-wrapper .js-add-option,
.fb-edit-field-wrapper .js-remove-option {
    padding: 3px 6px;
    color: #FFF;
}

.fb-edit-field-wrapper .js-remove-option:hover,
.fb-edit-field-wrapper .js-add-option:hover {
    color: #FFF;
    text-decoration: none;
}

.fb-edit-field-wrapper .fb-bottom-add {
    margin-top: 8px
}

.fb-common-wrapper .fb-label-description {
    margin-bottom: 10px
}

.fb-common-wrapper .fb-label-description input, .fb-common-wrapper .fb-label-description textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: .8rem 1rem .8rem;
    margin-top: 2px;
    margin-bottom: 10px;
    transition: border-color .1s linear;
    vertical-align: baseline;
    height: auto;
}

.fb-common-wrapper .fb-label-description input:focus, .fb-common-wrapper .fb-label-description textarea:focus {
    border-color: #159d82
}

.fb-common-wrapper .fb-label-description textarea {
    min-height: 5em;
}

.response-field-draggable-helper {
    border: 1px dashed #ddd;
    background: #eee
}

.response-field-text input.rf-size-small {
    width: 130px
}

.response-field-text input.rf-size-medium {
    width: 300px
}

.response-field-paragraph textarea.rf-size-small {
    width: 200px;
    min-height: 60px
}

.response-field-paragraph textarea.rf-size-medium {
    width: 400px;
    min-height: 100px
}

.response-field-paragraph textarea.rf-size-large {
    width: 100%;
    min-height: 200px
}

.response-field-address .street {
    width: 400px
}

.response-field-address .city, .response-field-address .state, .response-field-address .zip, .response-field-address .country {
    width: 198px
}

.response-field-date .month, .response-field-date .day, .response-field-date .year {
    width: 50px
}

.response-field-time .hours, .response-field-time .minutes, .response-field-time .seconds {
    width: 50px
}

.response-field-checkboxes .fb-option, .response-field-radio .fb-option {
    margin-bottom: 5px;
    display: inline-block
}

#form_tabs_creator_section_content {
    padding: 0;
}

.edit-response-field .option {
    margin-top: 5px;
}

.afield {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.afield span {
    display: inline-block;
    width: 100px;
    float: left;
    margin-top: 5px;
}

.js-add-option:hover {
    color: #FFF
}

.admin__page-nav-item._active, .admin__page-nav-item.ui-state-active {
    border-color: #1abc9c;
}

.page-actions .page-actions-buttons > button.primary {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.page-actions .page-actions-buttons > button.primary:hover {
    background-color: #159d82;
    border-color: #159d82
}

/*.page-main-actions .page-actions._fixed{
    position: static !important;
    width: 100%;
}
.page-main-actions{
    margin: 0 !important;
}
.page-actions-placeholder{
    display: none !important;
}*/

.edit-response-field input,
.edit-response-field select,
.edit-response-field textarea {
    border: 1px solid #ccc !important
}

#edit_form input,
#edit_form select,
#edit_form textarea {
    transition: border-color .1s linear;
}

#edit_form input:focus,
#edit_form select:focus,
#edit_form textarea:focus {
    border-color: #159d82;
}

.fb-field-wrapper {
    padding: 0 !important
}

.fb-field-wrapper .subtemplate-wrapper .cover {
    position: static;
}

.fb-field-wrapper.editing {
    /* float: left; */
}

.ui-sortable-helper {
    background-color: #1abc9c;
}

.admin__page-nav-item._active .admin__page-nav-link:focus,
.admin__page-nav-item.ui-state-active .admin__page-nav-link:focus,
.admin__page-nav-item._active .admin__page-nav-link,
.admin__page-nav-item.ui-state-active .admin__page-nav-link {
    outline: none;
}

.dolars {
    width: 90%
}