<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="customImportTab" translate="label" sortOrder="1000">
            <label>IntechSoft Custom Import</label>
        </tab>
        <section id="customImportSection" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>IntechSoft Custom Import Settings</label>
            <tab>customImportTab</tab>
            <resource>IntechSoft_CustomImport::settings</resource>
            <group id="emailGroup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Email Configuration</label>
                <field id="template_id" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <!-- This model return all transactional email template list of magento -->
                </field>
                <field id="sender_data_id" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
