<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customImportSection>
            <emailGroup>
                <template_id>customImportSection_emailGroup_email_id</template_id>
            </emailGroup>
        </customImportSection>
    </default>
</config>
