<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!--<preference for="Magento\UrlRewrite\Model\UrlRewrite" type="Biztech\Manufacturer\Model\Urlrewrite" />-->
    <type name="Biztech\Manufacturer\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Biztech\Manufacturer\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">manufacturer</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Biztech\Manufacturer\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Store\Model\ResourceModel\Store">
        <plugin name="manufacturerDataStoreView" type="Biztech\Manufacturer\Model\Indexer\Data\Plugin\StoreView"/>
        <plugin name="manufacturerUrlStoreView" type="Biztech\Manufacturer\Model\Indexer\Url\Plugin\StoreView"/>
    </type>

    <type name="Magento\Indexer\Model\Indexer\State">
        <plugin name="setStatusForDataIndexer" type="Biztech\Manufacturer\Model\Indexer\Data\Plugin\IndexerState" />
        <plugin name="setStatusForUrlIndexer" type="Biztech\Manufacturer\Model\Indexer\Url\Plugin\IndexerState" />
    </type>

    <!-- <preference for="Magento\Framework\DB\LoggerInterface" type="Magento\Framework\DB\Logger\File"/>
    <type name="Magento\Framework\DB\Logger\File">
      <arguments>
          <argument name="logAllQueries" xsi:type="boolean">true</argument>
          <argument name="debugFile" xsi:type="string">sql.log</argument>
      </arguments>
    </type> -->

</config>